/* General Styles */

@font-face {
  font-family: 'Atma';
  src: url('./fonts/Atma-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'UbuntuMono';
  src: url('./fonts/UbuntuMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Borel';
  src: url('./fonts/Borel-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Delius';
  src: url('./fonts/Delius-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Kanit';
  src: url('./fonts/Kanit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Karla';
  src: url('./fonts/Karla-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'PlaywriteAUSA';
  src: url('./fonts/PlaywriteAUSA-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Rasa';
  src: url('./fonts/Rasa-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RubikVinyl';
  src: url('./fonts/RubikVinyl-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Schoolbell';
  src: url('./fonts/Schoolbell-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DynaPuff';
  src: url('./fonts/DynaPuff-VariableFont_wdth\,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Iceberg';
  src: url('./fonts/Iceberg-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tenali';
  src: url('./fonts/TenaliRamakrishna-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tomorrow';
  src: url('./fonts/Tomorrow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Wallpoet';
  src: url('./fonts/Wallpoet-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'IndieFlower';
  src: url('./fonts/IndieFlower-Regular.ttf') format('truetype');
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 525px!important;
  width: 525px!important;
  overflow: hidden!important;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 5px!important; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1!important; /* Background of the scrollbar track */
  border-radius: 10px!important;
}

::-webkit-scrollbar-thumb {
  background: #989898!important; /* Color of the scrollbar thumb */
  border-radius: 10px!important;
}

::-webkit-scrollbar-thumb:hover {
  background: #494949!important; /* Color on hover */
}
iframe {
  overflow: hidden!important;
}

.container {
  width: 525px;
  max-width: 525px;
  text-align: center;
  background-color: #fff;
  overflow-x: hidden;
}

.html2canvas-container {
  width: 520px!important;
  max-width: 520px!important;
}

.container > h1:first-child {
  font-size: 25px;
  margin: 15px;
  color: #fa0404;
  margin-bottom: 0px;
}
.tagline {
  font-size: 16px;
  margin-top: 0px;
}

.card-selector {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.option {
  display: flex;
}
.option > span {
  padding-top: 2px;
  font-size: 15px;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 14px;
  height: 14px;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: border-color 0.3s;
}

input[type="radio"]:checked {
  border-color: #000;
}

input[type="radio"]:checked::before {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  padding: 12px 25px;
  font-size: 18px;
  background-color: #277ff3;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px 0;
  width: 85%;
  font-weight: 700;
  text-shadow: 2px 2px 2px #565656;
}

button:hover {
  background-color: #1f62b9;
}

.hidden {
  display: none!important;
}
.card, .quota {
  width: 460px;
  background-color: #fff;
  border-radius: 10px;
  margin-inline: auto;
  margin-block: 15px;
  overflow: hidden;
}

.card {
  text-align: left;
  position: relative;
  overflow: visible;
  margin-block: 0px;
}

.card h1, .card p {
  padding-inline: 20px;
}

p#source {
  font-size: small;
  color: #545353;
  opacity: 0.6;
}
.loading-container {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #ddd;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#statusMessage {
  margin-top: 20px;
  font-weight: bold;
  color: rgb(202, 5, 5);
}

.w-100 {
  width: 100%;
}
.w-50 {
  width: 50%;
}

.upgrade-component {
  text-align: center;
  font-family: Arial;
  font-size: 17px;
  width: 85%;
  margin: auto;
}

.upgrade-component p:last-child {
  border-radius: 10px;
  background-color: #f8f8f8;
  padding: 20px;
}

.form-container {
  margin: 0 auto;
}

.form-row {
  display: flex;
  gap: 10px;
  margin-block: 15px;
}

.form-row input {
  padding: 10px;
  border: 2px solid #267ff33d;
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
}
.form-row input::placeholder {
  color: #267ff33d;
}

.payment > div {
  display: flex;
  border: 0.1px solid #ddd;
}

.payment .methods {
  width: 65%;
  background-color: #ddd;
}
.payment img {
  width: 100%;
  height: 100%;
}

button#payButton {
  width: 35%;
  background: yellow;
  color: #000;
  border-radius: 0px;
  margin: 0px;
  text-shadow: none;
}

.quota > .upgrade-heading {
  border-radius: 5px;
  background-color: #fee9e9;
  padding: 20px;
  margin-top: 20px;
}

.quota h2 {
  font-size: 24px;
  margin: 0px;
}

.quota p {
  font-size: 18px;
  margin: 5px;
}

.quota h2:first-child {
  font-size: 24px;
  margin: 0px;
  color: #e30e0e;
}

.quota > h2:first-child {
  opacity: 0.4;
  color: #0e7fe3!important;
}
.quota > p:first-of-type {
  opacity: 0.4;
}

#close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  text-shadow: none;
  background: none;
  color: #000;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-inline: 10px;
  position: absolute;
  z-index: 1;
  top: 60px;
  right: 9px;
  display: flex;
  flex-direction: column;
}

/* Button Styles */
.btn {
  padding: 6px 6px;
  font-size: 20px;
  line-height: 1;
  border: none;
  cursor: pointer;
  color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 34px;
  height: 34px;
  display: flex;
  justify-content: center;
}

.reset-btn {
  background-color: #fededb;
  color: #267ff3;
  text-shadow: none;
  transition: opacity 0.3s;
}

.reset-btn:hover {
  background-color: #fcd7d4;
}

.edit-btn {
  background-color: #eaf3fe;
  color: #267ff3;
  text-shadow: none;
  border: none;
  transition: opacity 0.3s;
}

.edit-btn:hover, .home-btn-wrapper:hover {
  background-color: #d5e7fd;
}

.home-btn {
  position: relative;
  width: 18px;
  height: 18px;
  clip-path: polygon(50% 0%, 0% 50%, 0% 100%, 100% 100%, 100% 50%);
  cursor: pointer;
  outline: 0px;
  border: 0px;
  box-shadow: none;
  overflow: visible;
}

.home-btn-wrapper {
  position: absolute;
  left: -445px;
  top: 9px;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  padding: 1px;
  background-color: #eaf3fe;
}

.userInput {
  width: 80%;
  height: 200px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  resize: vertical; /* Allows vertical resizing only */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  background-color: #267ff326;
  margin-bottom: 10px;
}

.userInput:focus {
  border-color: #277ff3;
  box-shadow: 0 0 5px #1f64bf;
  outline: none;
}
.userInput::placeholder {
  color: #277ff3;
}

.quote-card {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
  height: 320px;
  position: relative;
  margin-bottom: 20px;
  transition: all 0.3s;
  margin: auto;
  margin-block: 10px;
  background-image: url('images/default.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0px;
  outline: 0px;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

#quoteText {
  font-size: large;
  font-weight: bold;
  padding-inline: 10px;
  max-width: 310px;
  max-height: 150px;
  overflow: hidden;
  word-wrap: break-word;
  margin-inline: auto;
  text-align: left;
  outline: 0px;
  width: 85%;
}

.profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
  object-fit: cover;
  object-position: center;
  background-color: #fff;
  border: 0.5px solid #8d8d8d;
}

.profile-info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  margin-bottom: -5px;
  max-width: 230px;
  overflow: hidden;
  padding: 0!important;
  max-height: 35px;
  white-space: nowrap;
  outline: 0px;
}

.designation {
  font-size: 9px;
  opacity: 0.4;
  text-align: left;
  max-width: 230px;
  overflow: hidden;
  padding-inline: 0!important;
  max-height: 35px;
  padding-bottom: 5px;
  white-space: nowrap;
  margin-top: 5px;
  outline: 0px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 85%;
  max-width: 600px;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.template-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 20px;
  max-height: 400px;
  overflow: auto;
}

.template-option {
  background-color: #e0e0e0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 110px;
  position: relative;
  padding: 11px;
  width: 110px;
}

.template-option:hover {
  background-color: #ccc;
}

.template-option .profile .name{
  margin-bottom: 0px;
  font-size: 10px!important;
  padding: 0px;
}
.template-option .profile .designation{
  font-size: 7px!important;
  padding: 0px;
  margin-top: 2px;
}
.template-option .profile .profile-image{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
  background-color: #aaa;
}

.button-group {
  display: block;
  justify-content: space-around;
  width: 83%;
  margin-inline: auto;
  margin-top: 10px;
}
.button-group > button{
  margin-inline: 5px;
  padding: 10px;
  font-size: 15px;
}

button img {
  float: inline-end;
  width: 20px;
}

/* Template Styles */

.template1 {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(templates/template1.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template1 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 85%;
}
.template1 .textContent {
  border-radius: 6px;
  background: #ffffffc9;
  max-height: 345px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #737373;
  position: relative;
}

.template2 {
  background-color: #ffe4e1;
  font-family: 'Arial', serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(templates/template2.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template2 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 85%;
}
.template2 .textContent {
  border-radius: 6px;
  background: #ffffffc9;
  max-height: 345px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #737373;
  position: relative;
}

.template3 {
  background-color: #e6e6fa;
  font-family: 'Arial', monospace;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(templates/template3.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template3 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 85%;
}
.template3 .textContent {
  border-radius: 6px;
  background: #ffffffc9;
  max-height: 345px;
  overflow: hidden;
  box-shadow: 2px 2px 5px #737373;
  position: relative;
}

.template4 {
  background-color: #f3e5f5;
  font-family: 'Brush Script MT', cursive;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #282828;
  background-image: url(templates/template4.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template4 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto;
  width: 85%;
}
.template4 .textContent {
  border-radius: 6px;
  background: #ffffffc9;
  max-height: 345px;
  overflow: hidden;
  font-family: cursive;
  position: relative;
}

.template5 {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(templates/template1.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template5 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto; 
  width: 85%;
}
.template5 .textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  background-color: #fff2c1d1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  overflow: hidden;
}

.template6 {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(templates/template6.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template6 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto; 
  width: 85%;
}
.template6 .textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  background-color: #ffffff9e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  overflow: hidden;
}

.template7 {
  font-family: 'Arial', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(templates/template7.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template7 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto; 
  width: 85%;
}
.template7 .textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: sans-serif;
  overflow: hidden;
  text-transform: uppercase;
  margin-top: 10px;
}

.template8 {
  background-color: #000000;
  font-family: 'Arial', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #292929;
  background-image: url(templates/template8.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template8 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto; 
  width: 85%;
}
.template8 .textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  overflow: hidden;
}

.template9 {
  background-color: #d9f7eb;
  font-family: cursive;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(templates/template9.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template9 .profile {
  display: flex;
  align-items: center;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.template9 .textContent {
  border-radius: 20px;
  padding: 15px 6px;
  max-height: 345px;
  text-shadow: 0px 0px 1px #fff;
  position: relative;
}
.template9 #quoteText, .template9 span {
  font-size: large;
  border-left: 0.5px solid;
}
.template9 #quoteText:after {
  content: '“';
  font-size: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: -25%;
  left: 15%;
}
.template9 span:after {
  content: '“';
  font-size: 6vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  position: absolute;
  top: 8%;
  left: 15%;
}

.template9 #profileImage, .template9 #imageUpload, .template9 .designation {
  display: none;
}

.template10 {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(templates/template10.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template10 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto; 
  width: 85%;
}
.template10 .textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  background-color: #060606b3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  overflow: hidden;
  color: #fff;
  padding-top: 5px;
}

.template11 {
  font-family: 'Arial', sans-serif;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #020202;
  background-image: url(templates/template11.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template11 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto; 
  width: 85%;
}
.template11 .textContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  overflow: hidden;
}

.template12 {
  background-color: #ffc7ee;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-image: url(templates/template12.png); background-position: center; background-repeat: no-repeat; background-size: cover;
}
.template12 .profile {
  display: flex;
  align-items: center;
  margin: 0px auto; 
  width: 85%;
}
.template12 .textContent {
  border-radius: 6px;
  background: #ffffffd6;
  max-height: 345px;
  overflow: hidden;
  position: relative;
}

/* drop down btn in model */
.dropdown-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.dropdown-toggle {
  background-color: #eef3fb;
  color: rgb(28, 28, 28);
  padding: 6px 20px;
  font-size: 14px;
  border: 0.5px solid #76affa !important;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  height: 30px;
  margin: 0px;
  text-shadow: none;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}
.dropdown-toggle:hover {
  background-color: #eef3fb!important;
}

.dropdown-label {
  display: inline-block;
  padding: 6px;
  text-align: left;
  width: 100%;
  opacity: 0.6;
  color: #113b71;
  padding-top: 0px;
}

.dropdown-toggle:after {
  content: '\25B2';
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 15px;
  font-family: monospace;
}

.dropdown-menu {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: auto;
  z-index: 1;
  width: 100%;
  max-height: 300px;
}

.dropdown-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
}

.light-background {
  border: 0.5px solid #267ff3!important;
  color: #267ff3!important;
  background-color: #277ff324!important;
  text-shadow: none;
}
